@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{ 
        background: #000000;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255)
    
}

.header-footer{
    background-color:#e06de0;
    list-style:none;
    text-align: left;
    height: 70px;
    text-decoration: none;
}

a{
    color: #000000; 
    text-decoration: none; 
   }
   a:visited {
    color: #000000; 
   } 
   a:hover {
    color: #0011ff;   
    text-decoration: underline; 
   }
.menu-item{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
    list-style:none;
}
.item-card:hover{
    outline: 1px solid rgba(0, 0, 0, 0.219);
}
.main-header{
    text-align:center;
}
.foto{
    display: block;
    margin: auto;
}
.laz-font{
    text-align: center;
    text-decoration: none;
    list-style: none;
    color:rgb(143, 196, 74);
}

.laz{
    text-decoration: none;
    color: inherit;
}

.menu-h4{
    text-align: center;
}

.menu-prod{
    text-align: center;
}

.item-card{
    display: inline-block;
    width: 330px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.item-img{
    display: block;
    margin: 0 auto;

}

.name{
    display: inline-block;
    width: 70%
}

.price{
    text-align: right;
    width: 25%;
    display: inline-block;
}

.description{
    text-emphasis: justify;
}

@media screen and (max-width: 1000px){
    body{background: rgb(81, 91, 238);}
    .menu-item{
        display: block;
    }
    .header-footer{
        height: 120px;
    }
}